*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
    background-color: rgb(238,241,246);
}
header{
    height: 60px;
    background-color: rgb(255,255,255);
}
footer{
    height: 200px;
    background-color: rgb(255,255,255);
    transform: translateY(40px);
}
section{
    display: flex;
    height: 1000px;
    transform: translateY(20px);
}
nav{
    width: 200px;
    border-radius: 10px;
    background-color: rgb(255,255,255);
}
#content{
    transform: translateX(20px);
    flex: 1;
}