#content .item, #content .c-2{
    display: none;
}
#content .item>.te{
    display: block;
    font-size: 24px;
    margin-bottom: 20px;
}
#content .box-1{
    float: left;
}
#content .box-b1{
    width: 1000px;
    height: 180px;
    background-color: rgb(255,255,255);
    border-radius: 10px;
    margin-bottom: 10px;
}
#content .box-b1 div{
    width: 140px;
    height: 80px;
    margin: 50px 20px 0px;
    border-radius: 10px;
    display: inline-block;
    background-color: rgb(238,241,246);
}
#content .b-1:hover{
    background-color: rgb(84,174,247);
}
#content .title{
    padding: 5px 0px 0px 15px;
    font-size: 16px;
    color: rgb(127,131,137);    
}
#content .contents{
    padding: 10px 0px 0px 15px;
    font-size: 20px;
}
#content .box-c1{

    border-radius: 10px;
    background-color: rgb(255,255,255);
}
#chart1, #chart2, #chart3, #chart4, #chart5{
    width: 1000px;
    height: 600px;
}
#content .details-box{
    width: 600px;
    height: 790px;
    margin-left: 10px;
    border-radius: 10px;
    float: left;
    background-color: rgb(255,255,255);
}
#content .details-box .search{
    width: 200px;
    height: 30px;
    outline: none;
    font-size: 18px;
    margin: 20px 10px 10px 340px;
    padding-left: 20px;
    border: 2px solid rgb(238,241,246);
    border-radius: 5px;
    background: url(../pic/search_ico.png) no-repeat;
    background-size: 16px;
}
.details-box .ls{
    width: 580px;
    height: calc(100% - 75px);
    margin-left: 10px;
    border-radius: 10px;
    background-color: rgb(238,241,246);
}
#content .box-2{
    float: left;
}
#content .calendar-box, #content .case-box{
    width: 1600px;
    height: 500px;
    float: left;
}
#content .calendar{
    width: 600px;
    height: 490px;
    float: left;
    border-radius: 10px;
    background: rgb(255,255,255);
}
#content .countdown{
    width: 800px;
    height: 100px;
    float: left;
    margin-left: 10px;
    border-radius: 10px;
    background: rgb(255,255,255);
}
#content .calendar-content{
    width: 800px;
    height: 380px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 10px;
    background: rgb(255,255,255);
}
#content .case{
    width: 900px;
    height: 500px;
    float: left;
    border-radius: 10px;
    background: rgb(255,255,255);
}
#content .case-details{
    width: 500px;
    height: 500px;
    float: left;
    margin-left: 10px;
    border-radius: 10px;
    background: rgb(255,255,255);
}