.nav_dropdown1, .nav_dropdown2{
    width: 170px;
    height: 60px;
    margin: 20px 0px 0px 20px;
    border: none;
    display: block;
    color: rgb(139,148,158);
    background: none;
    font-size: 20px;
    outline: none;
}
nav .dropdown-box1, nav .nav_dropdown-box2{
    display: none;
    background-color: rgb(255,255,255);
    padding-left: 8px;
  }
nav ul{
    width: 180px;
    margin-left: 10px;
    margin-top: 10px;
    list-style: none;
    text-align: center;
}
nav li{
    line-height: 4em;
    font-size: 16px;
    color: rgb(139,148,158);
}
nav li:hover, .nav_dropdown1:hover,
.nav_dropdown2:hover{
    border-radius: 10px;
    background-color: rgb(238,241,246);
    color: rgb(84,174,247);
}

  